<!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <title></title>
    </head>
    <body>
      <div class='email-body'>  
        <h2><%= t("mail.forgot_password_confirmation.mail_header").sub("%{username}", @username) %></h2>
  
        <p><%= t("mail.forgot_password_confirmation.your_password_has_been_reset_successfully") %></p>

        <p><%= t("mail.forgot_password_confirmation.your_new_password_is").sub("%{newpassword}", @new_pass) %></p>

        <p><%= t("mail.forgot_password_confirmation.thank_you") %>,</p>
  
      </div>
    </body>
</html>