<div class="row-fluid show-grid">
  <div class="span12">

<fieldset class="scheduler-border">
    <legend class="scheduler-border"><%= @ticket.subject %></legend>
	  	<p><%= @ticket.description.html_safe if @ticket.description %></p>    
</fieldset>  	

	  	
	
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Conversation</legend>
	  <div id="ticket-replies-list">
	    <%= render partial: 'ticket_reply_list' %>
	  </div>
</fieldset>


<fieldset class="scheduler-border">
    <legend class="scheduler-border">Reply</legend>
	  <%= render partial: 'ticket_reply_form' %> 
</fieldset>
	</div>  
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#ticket_reply_description").focus();
	});	
</script>


