<div class="row mt centered">
	<div class="col-lg-6 col-lg-offset-3">
		<h1>
			<%= t("general.login") %>
		</h1>
	</div>
</div>

<%= render :partial => 'form' %>

<%#= data = @response.parsed_response.inspect %>
